# Tells where Partykit is hosted. Can be http://localhost:1999 for locally hosting (only your computer).
# Or you can put your internal IP, for example: http://192.168.1.1:1999 if wanting to test with other device (e.g. phone)
NEXT_PUBLIC_PARTYKIT_HOST=http://localhost:1999

# Without this, I could not test the site properly with my phone
# This should be the internal IP of you computer, for example 192.168.1.1
ALLOWED_DEV_ORIGINS=192.168.1.1