

# Add a secret key for Better-Auth. It must be at least 32 characters.
# Easiest way is to use the following command "openssl rand -base64 32". NOTE: that the key can be longer than 32 characters

# The key should look something like this:
BETTER_AUTH_SECRET=qPlnwFj7Cb9v7i0sDwIxdl7+bAJuQK+wVQxTJyrzZn5ISkhbTzd/RejDadcx3GM2CxuonJ80bqzZCC8oM4Au9g==